/* Button show chat */
.showchat-button {
    position: fixed;
    bottom: 30px;
    left: 15px;
    right: 0;
   
    border-radius: 20px;
}

.MuiButtonBase-root.MuiIconButton-root {
    background-color: #ffffff;
}

.MuiButtonBase-root.MuiIconButton-root:hover {
    background-color: rgb(202, 200, 197);
}

.wrapper-input-box {
    position: absolute;
    bottom: -55px;
    left: 0;
    right: 0;
    background-color: #b1cf86;
}

.input-box {
    display: flex;
    margin: 10px;
    border: none;
}

.chat {
    position: absolute;
    bottom: 150px;
    left: 15px;
    right: 0;
    width: 400px;
    height: 390px;
    background-color: rgb(255, 255, 255);
    border-color: black;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: column-reverse;
    overflow-anchor: auto !important;
}

/* .chatbox {
    overflow: auto;
    height: 200px;
} */


/* .message {
    border-radius: 6px;
    margin-bottom: 18px;
    margin-left: 5px;
    margin-right: 5px;
    width: 15vw;
    min-height: 1vw;
    padding: 3px;
    overflow-wrap: anywhere;
} */

/* .msgMeta {
    color: black;
    font-size: 0.75vw;
    font-family: fantasy;
    padding: 5px;
} */

/* .msgText {
    color: #fff;
    font-size: 1vw;
    font-family: 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 5px;
} */

/* Toggle */
.toggle {
    position: fixed;
    bottom: 29px;
    left: 70px;
    right: 0;
    width: 100%;
}