.marker {
    background: black;
    transition: all 0.3s ease-out;
    position: relative;
    width: 25px;
    height: 10px;
    margin: auto;
    border-radius: 5px;
    color: white;
    text-align: center;
}
.marker.highlight:after {
    opacity: 0;
    animation: fadeOut 0.5s;
}

.highlight{
    background: #ffc300;
}